node_modules/
dist/
build/
.vite/
.env
.env.*
*.log
.DS_Store
.idea/
.vscode/
# lixo/local
.nvm/
.pm2/
.cache/
.snap/
.trash_*/
backups*/
backups-nginx/
nginx-backup/
nginx-disabled_*/
bf-backups/
rollback*/
forensics*/
k6/
*.tgz
*.tar.gz
*.zip
*.apk
*.jwt

# evita repos dentro do repo
repo.git/
